.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  overflow: auto;
  column-gap: 12px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.item {
  all: unset;

  display: flex;
  flex-direction: column;
}
